<!-- Hamburger menu Button -->

<input type="checkbox" id="check">
<label for="check">
    <!--
                <i class="fas fa-bars" arial-hidden="true" id="btn"></i>
                <i class="fas fa-times" arial-hidden="true" id="cancel"></i>
                -->
    <i id="btn"></i>
    <i id="cancel"></i>

</label>
<div class="sidebar">
    <header>
        My Menu
    </header>
    <a href="/">
        <span>Home</span>
    </a>
    <a href="/about">
        <span>About Me</span>
    </a>
    <a href="#" class="active">
        <span>Contact Me</span>
    </a>
</div>
<!-- ##################### -->

<!-- landing page My image Container  -->

<div class="container" id="main-container">
    <div class="left-main">
        <img src="/Img/img.png" alt="my img" />
        <h2>Hey i am Aman an self taught front-end-developer, Over the past 3 months, as an front-end-developer and Python programmer, I’ve worked with Html, Css, Javascript and Python codes. </h2>
    </div>

    <div class="right-main">
        <h2>Hey i am Aman an self taught front-end-developer, Over the past 3 months, as an front-end-developer and Python programmer, I’ve worked with Html, Css, Javascript and Python codes. </h2>
    </div>
</div>