<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/Css/contact.css" />
    <title>DevAman</title>
</head>
<body>

    {{>header}}

    <!-- #################################### -->

    <div class="div-1">
        <h5 data-scroll="in"> -- Contact</h5>
        <h1 data-scroll="in">Get in touch — let’s work together.</h1>
    </div>

    <!-- Contact Section -->
    <div class="field">
        <label for=""> --NOTE  <br> Hey I'm currently working on back-end codes ,<em>so</em>__ My Contact form is not available right now which will be updated soon. </label>
    </div>
    <div class="main-field">
        <div class="field" data-scroll="in">
            <label>-- Your Name</label>
            <input type="text" value="" id="form-contact_name" name="name" placeholder="What’s your name?" required="">
            <span class="input-bottom-line"></span>
        </div>

        <div class="field" data-scroll="in">
            <label>-- Your Email</label>
            <input type="email" value="" id="form-contact_name" name="email" placeholder="What’s your email?" required="">
            <span class="input-bottom-line"></span>
        </div>

        <div class="field" data-scroll="in">
            <label>-- Your Message</label>
            <input type="text" value="" id="form-contact_name" name="message" placeholder="What’s your message?" required="">
            <span class="input-bottom-line"></span>
        </div>
    </div>

    <div class="contact-button">
        <a data-scroll="in">Get In Touch</a>
    </div>

    <!-- ####################################### -->


    <div class="contact" id="getintouch">
        <h3 data-scroll="in">Contact <br>information&nbsp;—</h3>
        <p data-scroll="in">
            Feel free to reach out to me any time. I prefer to talk over email, especially since we may be a few time zones away.
        </p>
        <ul class="contact-links" data-scroll="in">
            <li><i class="fa fa-envelope" arial-hidden="true"></i><a class="special" href="mailto:webspyder.net@gmail.com">webspyder.net@gmail.com</a></li>
            <li><i class="fa fa-phone" arial-hidden="time"></i><span class="gray-darkest">+977 9808189378</span></li>
        </ul>
    </div>

    <div id="getintouch">
        <h3 data-scroll="in">Follow Me On</h3>
    </div>

    <div class="wrapper">

        <div class="button">
            <div class="icon">
                <a href="https://www.facebook.com/aaman.sshah">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </div>
            <span>Facebook</span>
        </div>

        <div class="button">
            <div class="icon">
                <a href="https://github.com/Aman-Coder87">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
            <span>Github</span>
        </div>

    </div>


    <script type="text/javascript" src="/Js/scroll-out.js"></script>
    <script src="/Js/main.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>